[ALLGEMEIN]
LUPUS_IP=http://192.168.1.4
LUPUS_URI=/api/v1/values
THRESHOLD_PARAM=P

#THRESHOLD=-1000
#THRESHOLD_SECONDS=10
#THRESHOLD_BUFFER=-50
#GPIO_OUT_NR=10
#GPIO_OUT_SECONDS=300
# Wenn 10s lang <=-1000 dann GPIO auf True für 300s
# Wenn er nach 300s weiterhin <=-50, dann weiterhin GPIO auf True
# Wenn nach 300s für weitere 300s >-10, dann GPIO auf False
# alles als Argument übergeben

# Wenn Timeout dann Email
# muss nur von 7-21 laufen, 21 Uhr beim beenden dann GIO auf False

# { "json_values": [ { "id": "P", "value": "-5" }, ... ] }